.container{
margin:2.5vw;
margin-left:auto;
margin-right:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 45vw;
    height:45vw;    
    
    }


h1{
        align-items:center;
    }
 
.box1{
    background-color:whitesmoke;
    width:5.625vw;
    height:5.625vw;
    font-size:4vw;
    text-align:center;
    

}
.box2{
    background-color:rgba(0,255,0,0.25);
    width:5.625vw;
    height:5.625vw;
    font-size:4vw;
    text-align:center;
    
}

body{
    background-color:grey;
  
    
    
}
