html,body{
   font-family:'Poppins';
   font-size:20px;
   line-height:1.5;
   box-sizing:border-box;
}


#games img #game img {
width:100%;
}

#games img:hover{
   margin-left:0 40px;
   transform:scale(1.1);
   cursor:pointer;
   background-color:red;
}

#top img:hover{
   margin-left:0 40px;
   transform:scale(1.1);
   cursor:pointer;
   background-color:red;
}


.spinner-border{
   visibility: hidden;
}

#top .card img{
   width:100%;
   height:200px;
}



#games .col-md-3 .card img{
   width:100%;
   height:200px;
   margin:15px auto;
}

#games .col-md-3 img{
 height:200px;
 width:250px;
 
}

.card{
   background-color:lightgrey;
   margin-top:20px;
   margin-bottom:20px;
}

h2{
text-align:auto
}

body { 
   animation: fadeInAnimation ease 3s;
   animation-iteration-count: 1; 
   animation-fill-mode: forwards; 
} 
 
@keyframes fadeInAnimation { 
   0% { 
       opacity: 0; 
   } 
   100% { 
       opacity: 1; 
    } 
} 